@import "react-slideshow-image/dist/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.bGroud {
  /* background-color: red; */
  background-image: url("/Background.svg");
}
.bgBackground {
  background-color: #f6f6f6;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --PrimaryColor: rgb(132, 0, 255);
}
.bgpColor {
  background-color: var(--PrimaryColor);
}


.pColor {
  color: var(--PrimaryColor);
}
.borderPColor{
  border-color: var(--PrimaryColor);
}
.pBtn {
  background-color: var(--PrimaryColor);
  color: white;
  font-weight: 600;
}
.Editor {
  background-color: gray;
}

.CSSPAttern2 {
  background-color: #f6f5ff;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffffff 80px
    ),
    repeating-linear-gradient(#f5f5ff55, #f5f5ff);
}
.h-80vh {
  height: 80vh;
}
/* .se-container{
  height: 100vh !important;
} */
/* .se-wrapper {
  height: 100vh !important;
} */
/* background black  */
.blackBg {
  background-color: rgba(0, 0, 0, 0.678);
}

.h-90vh {
  height: 90vh;
}
.w-90 {
  width: 90%;
}
/* Background Changing */
.gradientA {
  background-color: #f3ec78;
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
}
.gradientB {
  background-color: #1f2937;
  background: linear-gradient(90deg, #1f2937, #1f1d31, #5b4272);
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Float Animation  */
.float {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.11); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.041); */
    transform: translatey(-10px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.137); */
    transform: translatey(0px);
  }
}

/* Loading Spinner  */
@keyframes ldio-w62tp1ndyz8 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-w62tp1ndyz8 div {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 4px solid #0011ff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-w62tp1ndyz8 div {
  animation: ldio-w62tp1ndyz8 0.5543859649122806s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-ya6n7x0lue {
  width: 84px;
  height: 84px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 38, 255, 0);
}
.ldio-w62tp1ndyz8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.84);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-w62tp1ndyz8 div {
  box-sizing: content-box;
}

/* Button Spinner  */

@keyframes ldio-q5ahwqdlgxn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-q5ahwqdlgxn div {
  /* top: 9px; */
  left: 100%;

  position: absolute;
  animation: ldio-q5ahwqdlgxn linear 0.7633587786259541s infinite;
  background: #290908;
  width: 4px;
  height: 12px;
  border-radius: 0;
  transform-origin: 2px 26px;
}
.ldio-q5ahwqdlgxn div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.6997455470737913s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.6361323155216285s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.5725190839694656s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.5089058524173028s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.44529262086513993s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.38167938931297707s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.31806615776081426s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.2544529262086514s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.19083969465648853s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1272264631043257s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.06361323155216285s;
  background: #290908;
}
.ldio-q5ahwqdlgxn div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #290908;
}
.loadingio-spinner-spinner-9vokdfybll {
  width: 100%;

  height: 25px;
  display: inline-block;
  /* overflow: hidden; */
  /* position: relative; */

  background: none;
}
.ldio-q5ahwqdlgxn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.48);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}
.ldio-q5ahwqdlgxn div {
  box-sizing: content-box;
}

/* api loader  */
@keyframes ldio-drbvkqf2ixt {
  0% {
    transform: translate(9.06px, 60.4px) scale(0);
  }
  25% {
    transform: translate(9.06px, 60.4px) scale(0);
  }
  50% {
    transform: translate(9.06px, 60.4px) scale(1);
  }
  75% {
    transform: translate(60.4px, 60.4px) scale(1);
  }
  100% {
    transform: translate(111.74px, 60.4px) scale(1);
  }
}

@keyframes ldio-drbvkqf2ixt-r {
  0% {
    transform: translate(111.74px, 60.4px) scale(1);
  }
  100% {
    transform: translate(111.74px, 60.4px) scale(0);
  }
}
@keyframes ldio-drbvkqf2ixt-c {
  0% {
    background: #df1317;
  }
  25% {
    background: #e1e7e7;
  }
  50% {
    background: #e2bb8b;
  }
  75% {
    background: #e4934b;
  }
  100% {
    background: #df1317;
  }
}
.ldio-drbvkqf2ixt div {
  position: absolute;
  width: 30.2px;
  height: 30.2px;
  border-radius: 50%;
  transform: translate(60.4px, 60.4px) scale(1);
  background: #df1317;
  animation: ldio-drbvkqf2ixt 1.7543859649122806s infinite
    cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-drbvkqf2ixt div:nth-child(1) {
  background: #e4934b;
  transform: translate(111.74px, 60.4px) scale(1);
  animation: ldio-drbvkqf2ixt-r 0.43859649122807015s infinite
      cubic-bezier(0, 0.5, 0.5, 1),
    ldio-drbvkqf2ixt-c 1.7543859649122806s infinite step-start;
}
.ldio-drbvkqf2ixt div:nth-child(2) {
  animation-delay: -0.43859649122807015s;
  background: #df1317;
}
.ldio-drbvkqf2ixt div:nth-child(3) {
  animation-delay: -0.8771929824561403s;
  background: #e4934b;
}
.ldio-drbvkqf2ixt div:nth-child(4) {
  animation-delay: -1.3157894736842104s;
  background: #e2bb8b;
}
.ldio-drbvkqf2ixt div:nth-child(5) {
  animation-delay: -1.7543859649122806s;
  background: #e1e7e7;
}
.loadingio-spinner-ellipsis-bwn4ktor48q {
  width: 151px;
  height: 151px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-drbvkqf2ixt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-drbvkqf2ixt div {
  box-sizing: content-box;
}

/* Phone nmber input */
.react-tel-input .form-control {
  position: relative !important;
  font-size: 14px !important;
  letter-spacing: 0.01rem !important;
  margin-top: 0 !important;
  border-radius: 0.125rem !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;

  margin-left: 0 !important;
  line-height: 25px !important;
  height: 40px !important;
  width: 100% !important;
  outline: none !important;
  border: none !important;
}

.react-tel-input .flag-dropdown {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

/* btn spinner 2 */

@keyframes ldio-dgenfq81oy5 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-dgenfq81oy5 div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-dgenfq81oy5 div {
  animation: ldio-dgenfq81oy5 0.6711409395973155s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-93tf0i2dza {
  width: 18px;
  height: 18px;
  display: inline-block;
  overflow: hidden;
  background: rgba(221, 221, 221, 0);
}
.ldio-dgenfq81oy5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.18);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dgenfq81oy5 div {
  box-sizing: content-box;
}

/* btn spinner blue  */

@keyframes ldio-i2zaqjtv41 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-i2zaqjtv41 div {
  left: 47px;
  top: 24.5px;
  position: absolute;
  animation: ldio-i2zaqjtv41 linear 0.78125s infinite;
  background: #0066ff;
  width: 6px;
  height: 3px;
  border-radius: 0px / 0px;
  transform-origin: 3px 25.5px;
}.ldio-i2zaqjtv41 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7734375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(2) {
  transform: rotate(3.6deg);
  animation-delay: -0.765625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(3) {
  transform: rotate(7.2deg);
  animation-delay: -0.7578125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(4) {
  transform: rotate(10.8deg);
  animation-delay: -0.75s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(5) {
  transform: rotate(14.4deg);
  animation-delay: -0.7421875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(6) {
  transform: rotate(18deg);
  animation-delay: -0.734375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(7) {
  transform: rotate(21.6deg);
  animation-delay: -0.7265625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(8) {
  transform: rotate(25.2deg);
  animation-delay: -0.71875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(9) {
  transform: rotate(28.8deg);
  animation-delay: -0.7109375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(10) {
  transform: rotate(32.4deg);
  animation-delay: -0.703125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(11) {
  transform: rotate(36deg);
  animation-delay: -0.6953125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(12) {
  transform: rotate(39.6deg);
  animation-delay: -0.6875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(13) {
  transform: rotate(43.2deg);
  animation-delay: -0.6796875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(14) {
  transform: rotate(46.8deg);
  animation-delay: -0.671875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(15) {
  transform: rotate(50.4deg);
  animation-delay: -0.6640625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(16) {
  transform: rotate(54deg);
  animation-delay: -0.65625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(17) {
  transform: rotate(57.6deg);
  animation-delay: -0.6484375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(18) {
  transform: rotate(61.2deg);
  animation-delay: -0.640625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(19) {
  transform: rotate(64.8deg);
  animation-delay: -0.6328125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(20) {
  transform: rotate(68.4deg);
  animation-delay: -0.625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(21) {
  transform: rotate(72deg);
  animation-delay: -0.6171875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(22) {
  transform: rotate(75.6deg);
  animation-delay: -0.609375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(23) {
  transform: rotate(79.2deg);
  animation-delay: -0.6015625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(24) {
  transform: rotate(82.8deg);
  animation-delay: -0.59375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(25) {
  transform: rotate(86.4deg);
  animation-delay: -0.5859375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(26) {
  transform: rotate(90deg);
  animation-delay: -0.578125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(27) {
  transform: rotate(93.6deg);
  animation-delay: -0.5703125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(28) {
  transform: rotate(97.2deg);
  animation-delay: -0.5625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(29) {
  transform: rotate(100.8deg);
  animation-delay: -0.5546875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(30) {
  transform: rotate(104.4deg);
  animation-delay: -0.546875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(31) {
  transform: rotate(108deg);
  animation-delay: -0.5390625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(32) {
  transform: rotate(111.6deg);
  animation-delay: -0.53125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(33) {
  transform: rotate(115.2deg);
  animation-delay: -0.5234375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(34) {
  transform: rotate(118.8deg);
  animation-delay: -0.515625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(35) {
  transform: rotate(122.4deg);
  animation-delay: -0.5078125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(36) {
  transform: rotate(126deg);
  animation-delay: -0.5s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(37) {
  transform: rotate(129.6deg);
  animation-delay: -0.4921875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(38) {
  transform: rotate(133.2deg);
  animation-delay: -0.484375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(39) {
  transform: rotate(136.8deg);
  animation-delay: -0.4765625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(40) {
  transform: rotate(140.4deg);
  animation-delay: -0.46875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(41) {
  transform: rotate(144deg);
  animation-delay: -0.4609375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(42) {
  transform: rotate(147.6deg);
  animation-delay: -0.453125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(43) {
  transform: rotate(151.2deg);
  animation-delay: -0.4453125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(44) {
  transform: rotate(154.8deg);
  animation-delay: -0.4375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(45) {
  transform: rotate(158.4deg);
  animation-delay: -0.4296875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(46) {
  transform: rotate(162deg);
  animation-delay: -0.421875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(47) {
  transform: rotate(165.6deg);
  animation-delay: -0.4140625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(48) {
  transform: rotate(169.2deg);
  animation-delay: -0.40625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(49) {
  transform: rotate(172.8deg);
  animation-delay: -0.3984375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(50) {
  transform: rotate(176.4deg);
  animation-delay: -0.390625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(51) {
  transform: rotate(180deg);
  animation-delay: -0.3828125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(52) {
  transform: rotate(183.6deg);
  animation-delay: -0.375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(53) {
  transform: rotate(187.2deg);
  animation-delay: -0.3671875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(54) {
  transform: rotate(190.8deg);
  animation-delay: -0.359375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(55) {
  transform: rotate(194.4deg);
  animation-delay: -0.3515625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(56) {
  transform: rotate(198deg);
  animation-delay: -0.34375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(57) {
  transform: rotate(201.6deg);
  animation-delay: -0.3359375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(58) {
  transform: rotate(205.2deg);
  animation-delay: -0.328125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(59) {
  transform: rotate(208.8deg);
  animation-delay: -0.3203125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(60) {
  transform: rotate(212.4deg);
  animation-delay: -0.3125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(61) {
  transform: rotate(216deg);
  animation-delay: -0.3046875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(62) {
  transform: rotate(219.6deg);
  animation-delay: -0.296875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(63) {
  transform: rotate(223.2deg);
  animation-delay: -0.2890625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(64) {
  transform: rotate(226.8deg);
  animation-delay: -0.28125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(65) {
  transform: rotate(230.4deg);
  animation-delay: -0.2734375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(66) {
  transform: rotate(234deg);
  animation-delay: -0.265625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(67) {
  transform: rotate(237.6deg);
  animation-delay: -0.2578125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(68) {
  transform: rotate(241.2deg);
  animation-delay: -0.25s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(69) {
  transform: rotate(244.8deg);
  animation-delay: -0.2421875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(70) {
  transform: rotate(248.4deg);
  animation-delay: -0.234375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(71) {
  transform: rotate(252deg);
  animation-delay: -0.2265625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(72) {
  transform: rotate(255.6deg);
  animation-delay: -0.21875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(73) {
  transform: rotate(259.2deg);
  animation-delay: -0.2109375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(74) {
  transform: rotate(262.8deg);
  animation-delay: -0.203125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(75) {
  transform: rotate(266.4deg);
  animation-delay: -0.1953125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(76) {
  transform: rotate(270deg);
  animation-delay: -0.1875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(77) {
  transform: rotate(273.6deg);
  animation-delay: -0.1796875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(78) {
  transform: rotate(277.2deg);
  animation-delay: -0.171875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(79) {
  transform: rotate(280.8deg);
  animation-delay: -0.1640625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(80) {
  transform: rotate(284.4deg);
  animation-delay: -0.15625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(81) {
  transform: rotate(288deg);
  animation-delay: -0.1484375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(82) {
  transform: rotate(291.6deg);
  animation-delay: -0.140625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(83) {
  transform: rotate(295.2deg);
  animation-delay: -0.1328125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(84) {
  transform: rotate(298.8deg);
  animation-delay: -0.125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(85) {
  transform: rotate(302.4deg);
  animation-delay: -0.1171875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(86) {
  transform: rotate(306deg);
  animation-delay: -0.109375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(87) {
  transform: rotate(309.6deg);
  animation-delay: -0.1015625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(88) {
  transform: rotate(313.2deg);
  animation-delay: -0.09375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(89) {
  transform: rotate(316.8deg);
  animation-delay: -0.0859375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(90) {
  transform: rotate(320.4deg);
  animation-delay: -0.078125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(91) {
  transform: rotate(324deg);
  animation-delay: -0.0703125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(92) {
  transform: rotate(327.6deg);
  animation-delay: -0.0625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(93) {
  transform: rotate(331.2deg);
  animation-delay: -0.0546875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(94) {
  transform: rotate(334.8deg);
  animation-delay: -0.046875s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(95) {
  transform: rotate(338.4deg);
  animation-delay: -0.0390625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(96) {
  transform: rotate(342deg);
  animation-delay: -0.03125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(97) {
  transform: rotate(345.6deg);
  animation-delay: -0.0234375s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(98) {
  transform: rotate(349.2deg);
  animation-delay: -0.015625s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(99) {
  transform: rotate(352.8deg);
  animation-delay: -0.0078125s;
  background: #0066ff;
}.ldio-i2zaqjtv41 div:nth-child(100) {
  transform: rotate(356.4deg);
  animation-delay: 0s;
  background: #0066ff;
}
.loadingio-spinner-spinner-nxgvwpxbukq {
  width: 38px;
  height: 38px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-i2zaqjtv41 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.38);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-i2zaqjtv41 div { box-sizing: content-box; }


/* btn spinner white  */

@keyframes ldio-if2qo3vpcif {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-if2qo3vpcif div {
  left: 47px;
  top: 24.5px;
  position: absolute;
  animation: ldio-if2qo3vpcif linear 0.78125s infinite;
  background: #ffffff;
  width: 6px;
  height: 3px;
  border-radius: 0px / 0px;
  transform-origin: 3px 25.5px;
}.ldio-if2qo3vpcif div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.7734375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(2) {
  transform: rotate(3.6deg);
  animation-delay: -0.765625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(3) {
  transform: rotate(7.2deg);
  animation-delay: -0.7578125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(4) {
  transform: rotate(10.8deg);
  animation-delay: -0.75s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(5) {
  transform: rotate(14.4deg);
  animation-delay: -0.7421875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(6) {
  transform: rotate(18deg);
  animation-delay: -0.734375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(7) {
  transform: rotate(21.6deg);
  animation-delay: -0.7265625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(8) {
  transform: rotate(25.2deg);
  animation-delay: -0.71875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(9) {
  transform: rotate(28.8deg);
  animation-delay: -0.7109375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(10) {
  transform: rotate(32.4deg);
  animation-delay: -0.703125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(11) {
  transform: rotate(36deg);
  animation-delay: -0.6953125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(12) {
  transform: rotate(39.6deg);
  animation-delay: -0.6875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(13) {
  transform: rotate(43.2deg);
  animation-delay: -0.6796875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(14) {
  transform: rotate(46.8deg);
  animation-delay: -0.671875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(15) {
  transform: rotate(50.4deg);
  animation-delay: -0.6640625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(16) {
  transform: rotate(54deg);
  animation-delay: -0.65625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(17) {
  transform: rotate(57.6deg);
  animation-delay: -0.6484375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(18) {
  transform: rotate(61.2deg);
  animation-delay: -0.640625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(19) {
  transform: rotate(64.8deg);
  animation-delay: -0.6328125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(20) {
  transform: rotate(68.4deg);
  animation-delay: -0.625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(21) {
  transform: rotate(72deg);
  animation-delay: -0.6171875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(22) {
  transform: rotate(75.6deg);
  animation-delay: -0.609375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(23) {
  transform: rotate(79.2deg);
  animation-delay: -0.6015625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(24) {
  transform: rotate(82.8deg);
  animation-delay: -0.59375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(25) {
  transform: rotate(86.4deg);
  animation-delay: -0.5859375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(26) {
  transform: rotate(90deg);
  animation-delay: -0.578125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(27) {
  transform: rotate(93.6deg);
  animation-delay: -0.5703125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(28) {
  transform: rotate(97.2deg);
  animation-delay: -0.5625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(29) {
  transform: rotate(100.8deg);
  animation-delay: -0.5546875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(30) {
  transform: rotate(104.4deg);
  animation-delay: -0.546875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(31) {
  transform: rotate(108deg);
  animation-delay: -0.5390625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(32) {
  transform: rotate(111.6deg);
  animation-delay: -0.53125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(33) {
  transform: rotate(115.2deg);
  animation-delay: -0.5234375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(34) {
  transform: rotate(118.8deg);
  animation-delay: -0.515625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(35) {
  transform: rotate(122.4deg);
  animation-delay: -0.5078125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(36) {
  transform: rotate(126deg);
  animation-delay: -0.5s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(37) {
  transform: rotate(129.6deg);
  animation-delay: -0.4921875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(38) {
  transform: rotate(133.2deg);
  animation-delay: -0.484375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(39) {
  transform: rotate(136.8deg);
  animation-delay: -0.4765625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(40) {
  transform: rotate(140.4deg);
  animation-delay: -0.46875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(41) {
  transform: rotate(144deg);
  animation-delay: -0.4609375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(42) {
  transform: rotate(147.6deg);
  animation-delay: -0.453125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(43) {
  transform: rotate(151.2deg);
  animation-delay: -0.4453125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(44) {
  transform: rotate(154.8deg);
  animation-delay: -0.4375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(45) {
  transform: rotate(158.4deg);
  animation-delay: -0.4296875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(46) {
  transform: rotate(162deg);
  animation-delay: -0.421875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(47) {
  transform: rotate(165.6deg);
  animation-delay: -0.4140625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(48) {
  transform: rotate(169.2deg);
  animation-delay: -0.40625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(49) {
  transform: rotate(172.8deg);
  animation-delay: -0.3984375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(50) {
  transform: rotate(176.4deg);
  animation-delay: -0.390625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(51) {
  transform: rotate(180deg);
  animation-delay: -0.3828125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(52) {
  transform: rotate(183.6deg);
  animation-delay: -0.375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(53) {
  transform: rotate(187.2deg);
  animation-delay: -0.3671875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(54) {
  transform: rotate(190.8deg);
  animation-delay: -0.359375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(55) {
  transform: rotate(194.4deg);
  animation-delay: -0.3515625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(56) {
  transform: rotate(198deg);
  animation-delay: -0.34375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(57) {
  transform: rotate(201.6deg);
  animation-delay: -0.3359375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(58) {
  transform: rotate(205.2deg);
  animation-delay: -0.328125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(59) {
  transform: rotate(208.8deg);
  animation-delay: -0.3203125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(60) {
  transform: rotate(212.4deg);
  animation-delay: -0.3125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(61) {
  transform: rotate(216deg);
  animation-delay: -0.3046875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(62) {
  transform: rotate(219.6deg);
  animation-delay: -0.296875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(63) {
  transform: rotate(223.2deg);
  animation-delay: -0.2890625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(64) {
  transform: rotate(226.8deg);
  animation-delay: -0.28125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(65) {
  transform: rotate(230.4deg);
  animation-delay: -0.2734375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(66) {
  transform: rotate(234deg);
  animation-delay: -0.265625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(67) {
  transform: rotate(237.6deg);
  animation-delay: -0.2578125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(68) {
  transform: rotate(241.2deg);
  animation-delay: -0.25s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(69) {
  transform: rotate(244.8deg);
  animation-delay: -0.2421875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(70) {
  transform: rotate(248.4deg);
  animation-delay: -0.234375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(71) {
  transform: rotate(252deg);
  animation-delay: -0.2265625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(72) {
  transform: rotate(255.6deg);
  animation-delay: -0.21875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(73) {
  transform: rotate(259.2deg);
  animation-delay: -0.2109375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(74) {
  transform: rotate(262.8deg);
  animation-delay: -0.203125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(75) {
  transform: rotate(266.4deg);
  animation-delay: -0.1953125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(76) {
  transform: rotate(270deg);
  animation-delay: -0.1875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(77) {
  transform: rotate(273.6deg);
  animation-delay: -0.1796875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(78) {
  transform: rotate(277.2deg);
  animation-delay: -0.171875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(79) {
  transform: rotate(280.8deg);
  animation-delay: -0.1640625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(80) {
  transform: rotate(284.4deg);
  animation-delay: -0.15625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(81) {
  transform: rotate(288deg);
  animation-delay: -0.1484375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(82) {
  transform: rotate(291.6deg);
  animation-delay: -0.140625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(83) {
  transform: rotate(295.2deg);
  animation-delay: -0.1328125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(84) {
  transform: rotate(298.8deg);
  animation-delay: -0.125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(85) {
  transform: rotate(302.4deg);
  animation-delay: -0.1171875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(86) {
  transform: rotate(306deg);
  animation-delay: -0.109375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(87) {
  transform: rotate(309.6deg);
  animation-delay: -0.1015625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(88) {
  transform: rotate(313.2deg);
  animation-delay: -0.09375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(89) {
  transform: rotate(316.8deg);
  animation-delay: -0.0859375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(90) {
  transform: rotate(320.4deg);
  animation-delay: -0.078125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(91) {
  transform: rotate(324deg);
  animation-delay: -0.0703125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(92) {
  transform: rotate(327.6deg);
  animation-delay: -0.0625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(93) {
  transform: rotate(331.2deg);
  animation-delay: -0.0546875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(94) {
  transform: rotate(334.8deg);
  animation-delay: -0.046875s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(95) {
  transform: rotate(338.4deg);
  animation-delay: -0.0390625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(96) {
  transform: rotate(342deg);
  animation-delay: -0.03125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(97) {
  transform: rotate(345.6deg);
  animation-delay: -0.0234375s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(98) {
  transform: rotate(349.2deg);
  animation-delay: -0.015625s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(99) {
  transform: rotate(352.8deg);
  animation-delay: -0.0078125s;
  background: #ffffff;
}.ldio-if2qo3vpcif div:nth-child(100) {
  transform: rotate(356.4deg);
  animation-delay: 0s;
  background: #ffffff;
}
.loadingio-spinner-spinner-qknpytta52r {
  width: 38px;
  height: 38px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-if2qo3vpcif {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.38);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-if2qo3vpcif div { box-sizing: content-box; }
